{% extends "_layout.html" %}

{% block title %}
  {{ user.name.capitalize() }}: Following
{% endblock %}

{% block content %}
<style>
    #profilePic {
      height: 200px;
      width: 200px;
      border-radius: 50%;
      border: 5px solid #b3e6ff;
      display: inline-block
    }
    #userPic {
    height: 200px;
    display: flex;
    margin: 7px;
    }
</style>

<h1>{{ user.name.capitalize() }}: Following</h1>
{% for following_list_item in following_list %}
<div style="display: flex;">
    <div style="display: flex; flex-direction: column; text-align: center; margin: 7px;">
        <h2><a href="{{ url_for('users.show', username=User.get_by_id(following_list_item.followed_user_id).name) }}">{{ User.get_by_id(following_list_item.followed_user_id).name.capitalize() }}</a></h2>
        {% if User.get_by_id(following_list_item.followed_user_id).profile_image == None %}
            <img src="https://firstbucketnext.s3.amazonaws.com/1580395073.538688SampleNSymbol.jpg" id="profilePic">
        {% else %}
            <img src="{{User.get_by_id(following_list_item.followed_user_id).profile_image_url}}" id="profilePic"> 
        {% endif %}  
    </div>    
    <div style="display: flex; flex-wrap: wrap;">
        {% for image in User.get_by_id(following_list_item.followed_user_id).pictures %}
        <div>
          <img src="{{image.picture_url}}" id="userPic"> <!-- picture_url is a function written in picture.py -->
        </div>  
        {% endfor %}  
    </div>
</div>

{% endfor %}

{% endblock %}