{% extends "_layout.html" %}

{% block title %}
  {{ current_user.name.capitalize() }}: Follow Requests
{% endblock %}

{% block content %}
<style>
    #profilePic {
      height: 200px;
      width: 200px;
      border-radius: 50%;
      border: 5px solid #b3e6ff;
      display: inline-block
    }
</style>

<h1>{{ current_user.name.capitalize() }}: Follow Requests</h1>
{% for follow_request_item in follow_request_list %}
<div style="text-align: center;">
    <div style="display: inline-block; margin: 7px;">
        <h2><a href="{{ url_for('users.show', username=User.get_by_id(follow_request_item.follow_requester_id).name) }}">{{ User.get_by_id(follow_request_item.follow_requester_id).name.capitalize() }}</a></h2>
        {% if User.get_by_id(follow_request_item.follow_requester_id).profile_image == None %}
            <img src="https://firstbucketnext.s3.amazonaws.com/1580395073.538688SampleNSymbol.jpg" id="profilePic">
        {% else %}
            <img src="{{User.get_by_id(follow_request_item.follow_requester_id).profile_image_url}}" id="profilePic"> 
        {% endif %}  
        <form action="{{ url_for('users.follow_request_accept', id=follow_request_item.follow_requester_id) }}" method="POST" style="display: inline-block"><button class="btn btn-primary" style="display: flex; margin-left: auto; margin-right: auto">Approve</button></form>
        <form action="{{ url_for('users.follow_request_delete', id=follow_request_item.follow_requester_id) }}" method="POST" style="display: inline-block"><button class="btn btn-danger" style="display: flex; margin-left: auto; margin-right: auto">Delete</button></form>
    </div>    
</div>
{% endfor %}

{% endblock %}