{% extends "_layout.html" %}

{% block title %}
  Edit Profile: {{ current_user.name }}
{% endblock %}

{% block content %}
<form action="{{ url_for('users.update', id=current_user.id) }}" method="POST">
    <h1>Edit Profile: {{ current_user.name.capitalize() }}</h1>
    <p>Leave field empty if you do not wish to change it</p>
    <div class="form-group">
      <label for="new-username">New Username:</label>
      <input type='text' name='new-username' class="form-control" />
      <label for="new-email">New Email:</label>
      <input type='text' name='new-email' class="form-control" />
      <label for="old-password">Old Password:</label>
      <input type='text' name='old-password' class="form-control" />
      <label for="old-password-confirm">Retype Old Password:</label>
      <input type='text' name='old-password-confirm' class="form-control" />
      <label for="new-password">New Password:</label>
      <input type='text' name='new-password' class="form-control" />
      <label for="new-password-confirm">Confirm New Password:</label>
      <input type='text' name='new-password-confirm' class="form-control" />
    </div>
  
    <button type="submit" class="btn btn-primary">Update Profile</button>
  </form>
{% endblock %}