{% extends "_layout.html" %}

{% block title %}
  Upload a Photo
{% endblock %}

{% block content %}
<form action="{{ url_for('users.upload_file', username=current_user.name) }}" method="POST" enctype="multipart/form-data"> <!-- images are multipart -->
  <h1>Upload a Photo: {{ user.name }}</h1>
  <div class="form-group">
    <label>Upload a Photo:</label>
    <input type='file' name="user_file" class="form-control" />
  </div>

  <button type="submit" class="btn btn-primary">Upload</button>
</form>
{% endblock %}