<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Solway:400,700&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='image/favicon.ico') }}">

    {% assets "home_css" %}
      
      <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}

    {% assets "home_js" %}
      <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

    {% block header %}
    {% endblock %}

    <title>
      {% block title %}
      {% endblock %}
    </title>

  </head>
  <body>
    <nav class="navbar navbar-light" style="background-color: #b3e6ff; display: flex">
      <div style="display: flex; justify-content: flex-start;">
        <a href="{{ url_for('home') }}" style="color: black">Nextagram</a>
      </div>
      <div style="display: flex; justify-content: flex-end;">
        {% if current_user.is_authenticated %}
          <form action="{{ url_for('users.search') }}" method="GET" style="display: flex"><input type='text' name='user-search' class="form-control" placeholder="Search for a user" style="padding: 0px; display: inline-block" /><button type="submit" class="btn btn-primary" style="padding-top: 0px; padding-bottom: 0px; display: inline-block; margin-left: 5px;">Search</button></form>
          <a href="{{ url_for('home') }}" style="color: black; margin-left: 20px;">Home</a>
          <a href="{{ url_for('users.show', username=current_user.name) }}" style="color: black; margin-left: 20px;">My Profile</a>
          <a href="{{ url_for('users.edit', id=current_user.id) }}" style="color: black; margin-left: 20px;">Edit Profile</a>
          <form action="{{ url_for('users.upload', username=current_user.name) }}" method="POST"><button type="submit" style="padding: 0px; margin-left: 20px; border: none; background-color:#b3e6ff" onMouseOver="this.style.textDecoration='underline'; this.style.cursor='pointer'" onMouseOut="this.style.textDecoration='none'">Upload</button></form>
          <form action="{{ url_for('sessions.destroy') }}" method="POST"><button type="submit" style="padding: 0px; margin-left: 20px; border: none; background-color:#b3e6ff" onMouseOver="this.style.textDecoration='underline'; this.style.cursor='pointer'" onMouseOut="this.style.textDecoration='none'">Sign Out</button></form>
        {% else %}
          <a href="{{ url_for('home') }}" style="color: black; margin-left: 20px;">Home</a>
          <a href="{{ url_for('sessions.new') }}" style="color: black; margin-left: 20px;">Sign In</a>
          <a href="{{ url_for('users.sign_up') }}" style="color: black; margin-left: 20px;">Sign Up</a>
        {% endif %}
      </div>
    </nav>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    {% block content %}
    {% endblock %}
    <footer>
      Made with &hearts; at <a target="_blank" href="https://www.nextacademy.com/?utm_source=github&utm_medium=student-challenge&utm_campaign=flask-nextagram">NEXT Academy</a>
    </footer>
  </body>
</html>
